.hero {
    margin-top: 38px;
    text-shadow: 0px 1px 0px #fff;
}


div.prompt-container {
    font-size: 3em;
    font-weight: bold;
    font-family: "Andale Mono", monospace;
}
span#prompt-input {
    outline: none;
}

span.prompt:after {
    content: ">";
    padding-right: 10px;
}

@-webkit-keyframes xxxx {
    0% {
        visibility: inherit;
    }
    49% {
        visibility: inherit;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@-moz-keyframes xxxx {
    0% {
        visibility: inherit;
    }
    49% {
        visibility: inherit;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
span#prompt-cursor {
    -webkit-animation-name: xxxx;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -moz-animation-name: xxxx;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
}
